# Entornos virtuales
venv/
env/
*.env

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Distribución / empaquetado
*.egg-info/
dist/
build/

# Archivos de IDE
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de registro
*.log

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de configuración local
config.local.py